
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<ul>
    <li>
        <a href="/Movies/Index">Index</a>
    </li>
    @*<li>
        <a href="/Movies/MovieList">MovieList</a>
    </li>
    <li>
        <a href="/Movies/Details">Details</a>
    </li>*@
    <li>
        <a href="/Movies/Create">Add Movie</a>
    </li>
    @*<li>
        <a href="/Movies/Delete">Delete</a>
    </li>
    <li>
        <a href="/Movies/Edit">Edit</a>
    </li>*@

</ul>
<hr />

<ul>
    <li>
        <a href="/Shows/Index">Shows_Index</a>
    </li>
    <li>
        <a href="/Shows/Create">Shows_Create</a>
    </li>
    @*<li>
        <a href="/Shows/Details">Shows_Details</a>
    </li>

    <li>
        <a href="/Shows/Edit">Shows_Edit</a>
    </li>
    <li>
        <a href="/Shows/Delete">Shows_Delete</a>
    </li>*@
</ul>
<hr />

<ul>
    <li>
        <a href="/Orders/Index">OrderIndex</a>
    </li>
    <li>
        <a href="/Orders/Create">OrderCreate</a>
    </li>
    @*<li>
        <a href="/Orders/Dtails">OrderDetails</a>
    </li>

    <li>
        <a href="/Orders/Edit">OrderEdit</a>
    </li>
    <li>
        <a href="/Orders/Delete">OrderDelete</a>
    </li>*@
</ul>
<hr />

<ul>
    <li>
        <a href="/Theaters/Index">TheatersIndex</a>
    </li>
    <li>
        <a href="/Theaters/Create">TheatersCreate</a>
    </li>
    @*<li>
        <a href="/Theaters/Dtails">TheatersDetails</a>
    </li>

    <li>
        <a href="/Theaters/Edit">TheatersEdit</a>
    </li>
    <li>
        <a href="/Theaters/Delete">TheatersDelete</a>
    </li>*@
</ul>

